.modal-wrapper{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 90%;
    background-color: rgb(220, 222, 222);
    border-radius: 10px;
    padding: 2rem 1rem;
}